.drugo-filter {
    //overflow-y:auto;
    max-height:100%;
    background:$white;
    box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.2);
    border-radius:5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    @include laptop(){
        padding:50px;    
    }
    @include tablets(){
        padding:30px 20px;    
    }
    @include phones(){
        padding:20px 10px;  
        height:100%; 
        border-radius:0px; 
    }
}

.drugo-filter__head {
    padding:15px;
    background: $orange;
    color: $white;
    position: relative;
    font-weight:500;
    font-size: 16px;
}

.drugo-filter__close {
    @include centered(y);
    right:15px;
    cursor:pointer;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &:after {
        @include awesome-ico('\f00d');
        font-size:18px;
        display: block;
    }
    
}

.drugo-filter__bottom {
    padding:7px 15px;
    background: $gray;
    text-align: right;
    font-weight:300;
    
}

.drugo-filter__button {
    
}

.drugo-filter__context {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height:100%;
    flex-grow: 1;
}