.modal {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background:rgba(0,0,0,0.4);
    z-index: 3;
    //display: none;
}

.modal__container{
    position:absolute;
    @include centered();
    height:80%;
    width:100%;
    max-width:620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include phones(){
        height:100%; 
        max-width:none;
    }
}